<app-navbar3></app-navbar3>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


                    <label for="" class="form-label">Name</label>
<input name="name" [(ngModel)]="name" type="text" class="form-control">


                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



                    <label for="" class="form-label">Friend name</label>
<input  friendName="friendName" [(ngModel)]="friendName" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">



                    <label for="" class="form-label">Describe your friend</label>
<input DescribeYourFriend="DescribeYourFriend" [(ngModel)]="DescribeYourFriend" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">


                    
                    <label for="" class="form-label">Friend Nickname</label>
<input friendNickName="friendNickName" [(ngModel)]="friendNickName" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">



                 <button (click)="readValues()">submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

