<app-navbar3></app-navbar3>

<h1 style="text-align:center ;">Add Course</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Course Title</label>
                    <input name="courseTitle" [(ngModel)]="courseTitle" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Course duration</label>
                    <input name="courseDuration" [(ngModel)]="courseDuration" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Course description</label>
                    <input name="courseDescription" [(ngModel)]="courseDescription" type="text" class="form-control">
                </div>
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Course date</label> 
                    <input name="courseDate" [(ngModel)]="courseDate" type="date" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Course venue</label> 
                    <input name="courseVenue" [(ngModel)]="courseVenue" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button (click)="readValues()" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>


