
<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row" >
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4"  *ngFor="let i of data3" >

                    <div class="card" >
                        <img src="{{i.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.head1}}</h5>
                          <h5 class="card-title">{{i.head2}}</h5>
                          
                          
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
