
<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row" >
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4"  *ngFor="let i of data4" >

                    <div class="card" >
                        <img height="300px" src="{{i.image}}" class="card-img-top" alt="...">
                        
                          <a href="#" class="btn btn-primary">More</a>
                        </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>
